.productDiv>ul>a{
  text-decoration: none;   
  color: gray;
  font-size: 15px;
 
 }
 .productDiv>ul>a:hover{
     color: #1BA098;
 }
 .footMainDiv{
     margin: 0px;
     border: 0px;
     padding: 0px;
 }
 
 .companyDiv>ul>a{
     text-decoration: none; 
     color: gray;  
     font-size: 15px;
    }
    .companyDiv>ul>a:hover{
     color: #1BA098;
    }
 
 .solutionDiv>ul>select{
     border: none;
     outline: none;
     font-size: 8px;
     color: gray;
     
 }
 .solutionDiv>ul:hover{
     color: #1BA098;
     cursor: pointer;
 }
 
 .solutionDiv>ul{
     text-decoration: none; 
     color: gray;
     font-size: 15px;
 }
 .supportDiv>ul>a{
     text-decoration: none; 
     color: gray;
     font-size: 15px;
 }
 .supportDiv>ul>a:hover{
     color: #1BA098;
 }
 .pumbleImg{
     height: 15px;
     width: 15px;
     margin-right: 5px;
 }
 .plakyImg{
     height: 15px;
     width: 15px;
     margin-right: 5px;
 }
 .creditSection>a,p{
     color: gray;
     text-decoration: none;
     font-size: 12px;
 }
 .creditSection>a:hover{
     color:#0277BD;
 }
 .logoSection>a{
     color: gray;
 }
 .dropdown>button,ul>li{
     color: gray;
 }
 .dropdown:hover{
     color: #1BA098;
 }
 .dropdown:hover>.dropdown-menu {
     display: block;
 
 }
 .dropdownDiv{
     background-color: rgb(225, 241, 247);
     width: 400px;
 }
 .dropdownDiv>div>h6,p,h6>a,p>a{
     text-decoration: none;
     color: rgb(18, 18, 18);
     font-size: 15px;
     height: 10px;
 }
 
 .dropdownDiv>div>h6,p,h6>a:hover,p>a:hover{
     text-decoration: none;
     color:#1BA098;
     
 }
 @media only screen and (max-width: 767px) {
     .dropdownDiv {
         width: 90%;
     }
     .dropdownDiv>div>h6,p,h6>a,p>a{
         font-size: 11px;
     }
 }